@charset "UTF-8";
body h1 {
	font-family: "ヒラギノ角ゴシック Sans W8";
	color: #F37002;
}
.key {
	color: #F1ED01;
	background-color: #380AF6;
	font-size: x-large;
}
body p img  {
	border: 10px dotted #05F45B;
}
body {
	background-image: url(p8484.jpg);
 }
body p {
}
