
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f4a460;
    color: white;
}

.logo {
    width: 100px;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffb6c1;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.content-container {
    display: flex;
    flex-direction: row-reverse; /* 要素の順序を逆にして、サイドバーを右側に配置 */
}
.sidebar {
    width: 25%;
    background-color: #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h3 {
    margin-top: 0;
}

.ad {
    margin-bottom: 20px;
    text-align: center;
}

.ad img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;

}
.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
